
#oneBlock, #twoBlock{
    position: absolute;
    background-color: #e5d4a6;;
    width: 99%;
    height: 99%;
    text-align: justify;
    transition: 1s;
    transform-origin: 0;
    border: #125699 double 10px;
    margin: 0 auto;
  }
  
  .box{
    position: absolute;
  }
  
  .oneBlock-title{
    text-align: center ;
    font-size: 45px;
    padding: 20px 0px 25px 0px;
    color: #594073;
  
  }
  
  .oneBlock-btn{
    text-align: center;
    margin: 85px 0px 25px 50px;
    border-radius: 200px;
    width: 300px;
    height: 60px;
    background-color: aqua;
    font-size: 18px;
  }
  @media screen and (max-width: 1400px) {
    .oneBlock-btn{
      margin: 50px 0px 20px 30px;
      width: 250px;
      height: 50px;
      font-size: 16px;
    }
  }
  @media screen and (max-width: 1200px) {
    .oneBlock-btn{
      margin: 30px 0px 10px 20px;
      width: 200px;
      height: 40px;
      font-size: 14px;
    }
  }
  @media screen and (max-width: 1100px) {
    .oneBlock-btn{
      margin: 50px 0px 20px 30px;
      width: 150px;
      height: 30px;
      font-size: 12px;
    }
  }
  @media screen and (max-width: 1000px) {
    .oneBlock-btn{
      margin: 20px 0px 0px 20px;
      width: 100px;
      height: 20px;
      font-size: 14px;
    }
  }
  
  .oneBlock-paragh1{
    text-align: center;
    font-size: 28px;
    margin: 50px 13px 60px 50px; 
    color: #5c17a3;
  }
  @media screen and (max-width: 1200px) {
    .oneBlock-paragh1{
      font-size: 26px;
      margin: 50px 13px 30px 50px; 
      
    }
  }
  @media screen and (max-width: 1100px) {
    .oneBlock-paragh1{
      font-size: 24px;
      margin: 50px 13px 25px 50px; 
      
    }
  }
  @media screen and (max-width: 1000px) {
    .oneBlock-paragh1{
      font-size: 22px;
      margin: 50px 13px 20px 50px; 
      
    }
  }
  .oneBlock-paragh2{
    text-align: center;
    font-size: 26px;
    margin: 50px 13px 30px 50px; 
    color: #5c17a3;
  }
  @media screen and (max-width: 1200px) {
    .oneBlock-paragh2{
      font-size: 24px;
      margin: 50px 13px 25px 50px; 
      
    }
  }
  @media screen and (max-width: 1100px) {
    .oneBlock-paragh2{
      font-size: 22px;
      margin: 50px 13px 30px 50px; 
      
    }
  }
  @media screen and (max-width: 1000px) {
    .oneBlock-paragh2{
      font-size: 24px;
      margin: 50px 13px 20px 50px; 
      
    }
  }
  .oneBlock-img{
    width: 350px;
    height: 250px;
  }
  @media screen and (max-width: 1400px) {
    .oneBlock-img{
      width: 300px;
      height: 200px;
    }
  }
  @media screen and (max-width: 1200px) {
    .oneBlock-img{
      width: 250px;
      height: 150px;
    }
  }
  @media screen and (max-width: 1100px) {
    .oneBlock-img{
      width: 220px;
      height: 130px;
    }
  }
  @media screen and (max-width: 1000px) {
    .oneBlock-img{
      width: 200px;
      height: 100px;
    }
  }
  
  .oneBlock-main1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0px 0px 0px 55px;
    
  }
  .oneBlock-main2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 30px 55px 0px 55px;
    
  }
  .twoBlock-paragh{
    font-size: 30px;
    margin: 100px 112px 0px 50px;
    color: #5c17a3;
  }
  
  
  canvas {
     height:100%; 
     position:fixed;
     width: 100%;
     height: 100%;
     z-index: 2;
     }

